<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test">

<listeners>
	<listener class-name="listener.TestNGListener"/>
</listeners>

   <test name="Search and buy Phone">
      <classes>
         <class name="package1.SearchAndBuyPhone"/>
      </classes>
   </test>
</suite>